[2017-01-21 16:38] orbea opened #1 "-pedantic?"
OS: `Slackware64-current`
`gcc-5.4.0`

When compiling mrboom I get countless warnings as seen below. The easiest way to silence them is to not use `-pedantic`, but maybe there is a better solution?

[code]

[2017-01-21 19:35] frranck commented on #1
Hi Orbea, why do we need to silent warning for ? I copied this setting from the libretro samples.

[2017-01-21 19:43] orbea commented on #1
It would be better to solve the underlying problems the warnings are printing rather than just silencing them as it would lead to a more presentable core and may solve other problems along the way. That said I am providing build scripts for libretro cores over at slackbuilds.org and something that compiles as one big warning is not exactly a good fit there. :)

[2017-01-24 21:34] frranck commented on #1
OK so I removed the range var init... thanks for your input!

[2017-01-24 21:34] #1 closed

[2017-01-24 23:04] orbea commented on #1
Thanks!

[2017-02-01 18:09] joolswills opened #5 "fails to build on ARM7+ (needs libretro-common update ?)"
Raspbian / RPI3

[code]

Not sure if this is fixed in upstream libretro-common - but it may well be.

[2017-02-01 18:19] joolswills commented on #5
My current workaround is to build for armv6 / without neon.

[2017-02-01 19:02] frranck commented on #5
did you try make clean ?

[2017-02-01 19:12] joolswills commented on #5
It was from a fresh checkout

[2017-02-01 19:13] joolswills commented on #5
Note the CFLAGS `O2 -march=armv8-a+crc -mtune=cortex-a53 -mfpu=neon-fp-armv8 -mfloat-abi=hard -ftree-vectorize -funsafe-math-optimizations -pipe` are my own. It's fine when targetting armv6 (no neon). It fails when a neon supporting target is used.

[2017-02-01 19:15] joolswills commented on #5
This may be a libretro-common issue - I noticed there have been some libretro-common changes relating to these functions in the last few days so it might just need updating.

[2017-02-01 19:17] joolswills commented on #5
(I'm testing that now)

[2017-02-01 19:20] joolswills commented on #5
After updating libretro-common - there is no longer a compile error, but it instead fail when linking. @twinaphex - should I open this up against libretro-common

[code]

[2017-02-01 19:37] twinaphex commented on #5
You need to define an ARM NEON flag. Look at the ios target to see which one this is.

[2017-02-01 19:43] joolswills commented on #5
thanks.

[2017-02-01 19:48] joolswills commented on #5
there are no neon flags set in any of the predefined targets in the Makefile here - where am I supposed to be looking ?

[2017-02-01 19:52] twinaphex commented on #5
Sorry I got confused - it was in the Dinothawr Makefile.

Anyway, I'm kinda busy right now with the release to be perfectly honest with you, so if you don't mind and you could figure this out yourself for now.

[2017-02-01 19:55] joolswills commented on #5
NP. I have dinothawr working with HAVE_NEON=1. This project will need both a libretro-common update and some additional code in the Makefile to include the correct sources on armv7+

[2017-02-01 19:56] twinaphex commented on #5
OK, you can send me a PR for that and I'll merge it.

[2017-02-04 11:44] Tatsuya79 opened #6 "Button autofire by default"
When entering your initials on the start screen, the validate button is in autofire mode making it tricky to input letters.

In the game as well, auto-dropping several bombs in rapid successions should perhaps not be the default.
We have a turbo button mode in retroarch for this or it could be assigned to an additional input button.

<bountysource-plugin>

---
Want to back this issue? **[Post a bo

[2017-02-04 11:49] frranck commented on #6
You don't drop bomb by default, I guess you have a input issue...

[2017-02-04 12:33] Tatsuya79 commented on #6
I mean when you keep the button pushed down and walk it will drop several bombs.
Bomberman games usually wait for you to push the button again to drop a second bomb.

[2017-02-04 12:52] frranck commented on #6
for the menu: use left and right instead
for the bomb dropping game itself, I think dynablaster PC was doing the same, and I prefer it that way...

[2017-02-04 16:45] frranck commented on #6
Had a second thought about the menu, you're quite right, will improve that in the next versions.

[2017-02-05 07:18] frranck commented on #6
I increased the change blocker time from 10 to 15. have a look in current version...

[2017-02-10 15:05] Tatsuya79 commented on #6
I compiled it at the buildbot isn't updated.
Well, that's better on the menu screen.
But I don't understand why you're not letting the players decide their play-style:
if you disable autofire in-game, players can use libretro autofire.

Personally I keep throwing unwanted bombs which feels frustrating.
I think this could deserve your game.

[2017-02-11 11:33] Tatsuya79 commented on #6
You just need to disable the autofire happening in MrBoom code itself.
Then there is a Turbo button mode in Retroarch that can be used.
Or you can add a turbo button directly on the gamepad [with a code like this one for Nestopia.](https://github.com/libretro/nestopia/commit/4085e3138735e302a5588f0e37dedd21223a4a89)
[(along with this fix if needed?)](https://github.com/libretro/nestopia/commit/091

[2017-02-11 12:38] frranck commented on #6
Yeah but I don't want to change the B button behaviour, I prefer it that way. Maybe you just need to get used to it.

[2017-02-23 16:37] frranck commented on #5
@joolswills Are you erasing CFLAGS here https://github.com/RetroPie/RetroPie-Setup/blob/master/scriptmodules/libretrocores/lr-mrboom.sh#L26 ? It prob won't work, it needs a couple of defines, could you please try again there's been lots of change in the dependencies.

[2017-02-23 16:39] joolswills commented on #5
I am erasing our default CFLAGS to avoid trying to build with neon to work around this ticket - it wont overwrite any in the makefile.

[2017-02-23 16:40] joolswills commented on #5
`CFLAGS="something" make` is different from  `make CFLAGS="something"` which would override the makefile CFLAGS.

[2017-02-23 16:41] joolswills commented on #5
Will test though :)

[2017-02-23 17:29] joolswills commented on #5
Still built ok, but due to the recent changes there is no need for this workaround on retropie anymore - thanks. I will close this.

[2017-02-23 17:29] #5 closed

[2017-02-25 13:52] frranck commented on #5
@joolswills I installed mrboom from the experimental packages, but how do you run the game afterwards ? can't see it from emu station...

[2017-02-25 20:47] joolswills commented on #5
Should appear in the ports section if you restart ES.

[2017-02-25 21:07] frranck commented on #5
Ok thanks, one detail: the compiling commands are using both -O2 -O3

cc -O2 -march=armv8-a+crc -mtune=cortex-a53 -mfpu=neon-fp-armv8 -mfloat-abi=hard -ftree-vectorize -funsafe-math-optimizations -pipe -O3 -D__LIBRETRO__ -DMRBOOM -DGIT_VERSION=\"" 35bb250"\" -I./libretro-common/include -Wall -pedantic -Wno-unused-label -fPIC -std=gnu99 -fPIC -c -o libretro-common/memmap/memalign.o libretro-common/

[2017-02-26 06:57] barbudreadmon commented on #6
Played it (locally) for the first time with 5 friends yesterday, they all complained about the B button behavior (we are all in our late thirties and have been playing bombermans together since the snes era).

I can understand you prefer it that way, but since it is not the behavior in any bomberman i played (and i played most of them), making it a core option would be nice. You can't get used to

[2017-02-26 21:19] twinaphex commented on #6
I have to agree with @barbudreadmon too, I thought the B button behavior was a glitch at first.

I think it would be sensible to use normal Bomberman default B button behavior and then make it possible (perhaps via a core option) to turn the 'current' behavior on optionally. The other way around is confusing and perhaps backfires with most people used to Bomberman.

[2017-02-26 21:51] frranck commented on #6
Guys I just tried Super Bomberman 3 on Snes, and it has the Mr.Boom behaviour:
If you push the B button and keep it pushed, you keep dropping bombs.

How do the core options work ?

[2017-02-26 22:25] Tatsuya79 commented on #6
To my great surprise there was an autofire in every NEC games, starting from the 3rd on SNES.
Guess it's just slower and not noticeable there.

[2017-02-27 08:56] barbudreadmon commented on #6
Makes sense, i think i own the first on every console, starting with snes. I tried a few others through emulation, but never spent much time on those.

[2017-02-27 16:05] barbudreadmon commented on #6
About how the core options works, take a look at the core i'm maintaining :  https://github.com/libretro/fbalpha/blob/master/src/burner/libretro/libretro.cpp

Lines 158-177 = how to declare them
Lines 651-718 = how to send them to retroarch
Lines 1115-1307 = how to retrieve what was selected in retroarch

I hope it helps.

[2017-03-12 19:12] joolswills commented on #5
That's just because RetroPie sets some default optimisation CFLAGS depending on platform etc. It's not an issue since your O3 will override it.

[2017-03-24 20:12] jclarke0000 opened #10 "Command-line options?"
I see in the old DOS version there were a number of command-line switches.  In particular, there is a switch to turn off monsters ( -M ).  Can I use a similar switch in the RetroArch version?  I'm running it with RetroPie, and I can't figure out where I might configure this.

Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4

[2017-03-24 20:41] frranck commented on #10
Hi, @jclarke0000 right now you can't.
Which options interest you ?

[2017-03-25 09:11] barbudreadmon commented on #6
@frranck So, any news about this core option ? I wouldn't mind creating a pull request if you tell me where i can change this behavior.

[2017-03-25 11:23] frranck commented on #6
@barbudreadmon It's a bit tricky because it touches the assembly code. I'm working on some bomberman AI now, that includes some "assembly wrapper" functions, so I will have a look afterwards.

[2017-03-27 13:21] jclarke0000 commented on #10
Awesome.  Thanks!  Looking forward to the update.

[2017-03-27 14:16] alexmyczko opened #11 "manpage, and a make install target, and a makefile"
are these things planned? they'll make packaging it for debian much easier:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=858622

[2017-03-27 15:03] frranck commented on #11
Hi, there's already a makefile, can you submit a PR to add an install target to it ?
There's no manpage planned either...

[2017-03-29 09:12] #11 closed

[2017-04-05 17:40] frranck commented on #6
How can this work with netplay ? The option must be the same on all computers, otherwise it's going to desynchronise...

[2017-04-07 18:36] barbudreadmon commented on #6
Well, if you can't make it an option, then i suggest you make it the default, i played more than a third of the (33) bomberman games, probably the most well-known, and none of them had this autofire behavior.
Over that, perhaps you could add some kind of client-side per gamepad hack like @Tatsuya79 mentioned

[2017-04-07 18:44] twinaphex commented on #6
I second this by barbudreadmon.

Despite what you might think, to most gamers this will just be annoying and they will regard the game as being broken. Please consider implementing this as an option instead.

[2017-04-07 23:00] frranck commented on #6
@twinaphex Having global options is an issue that needs to be fixed with netplay, it's gonna be the same problem on every core... There could be a way to hack it, if I put a frame counter in the state to spot rewinds on slaves, and then ignore the options from retroarch and use the options values from the state.

[2017-04-08 20:14] mdeguzis opened #14 "Cannot launch on SteamOS / BPM -seg fault"
OS: SteamOS
GPU: Nvidia GTX 1080
Driver: nvidia

This runs fine (albeit starting in a small window) in Gnome 3 desktop mode, but not in BPM where SteamOS starts up in. Puzzling. Any launch options I can use for debugging as well? I am using the non-libretro core makefile target to play on a traditional Linux desktop.

Log:
https://gist.github.com/mdeguzis/87d874c653fd7284507680f36df5a939

<bountys

[2017-04-09 04:11] frranck commented on #14
Hi, could you try to compile it ?
[code]

[2017-04-09 12:17] mdeguzis commented on #14
I'm using the same packaging Debian games maintainers are. If there is a way to debug the game with a flag, I can add that at runtime so /tmp/dump/steam_stdout.txt can log it.

https://github.com/mdeguzis/LibreGeek-Packaging/tree/steamos/mrboom

[2017-04-09 18:24] frranck commented on #14
Could it be it can't write to /tmp/ ?

[2017-04-09 18:28] frranck commented on #14
Did you google "ERROR: ld.so: object '/home/steam/.local/share/Steam/ubuntu12_32/gameoverlayrenderer.so' from LD_PRELOAD cannot be preloaded (wrong ELF class: ELFCLASS32): ignored.
" ?

[2017-04-09 20:27] mdeguzis commented on #14
temp is a possibility, what file/path? The ELF stuff is normal under SteamOS. Valve submits 32/64 libs and one is always going to come up funny like that, and just ignored (as it says).

[2017-04-09 20:29] mdeguzis commented on #14
It was /tmp. If you know the path, I can try to make an ACL, however, it would be nice to nip this in the butt and allow a switch to redirect the tmp (logs?) data elsewhere.

[2017-04-09 20:37] mdeguzis opened #15 "Joystick control is not precise (standalone, not Retroarch)"
I noticed the game only seems to respond to joystick control on the Xbox 360 controller, and often seems to have imprecise movement, or the character will try to walk up on his own.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43955723-joystick-control-is-not-precise-standalone-not-retroarch?utm_campaign=plugin&utm_content=tracke

[2017-04-09 20:47] frranck commented on #14
It's game data, it's creating a /tmp/mrboom directory, do you need the list of the files ? I can add a command line option in the next version.

[2017-04-09 20:48] frranck commented on #15
I may be doing something stupid here https://github.com/libretro/mrboom-libretro/blob/master/sdl2.c#L216

[2017-04-09 20:58] mdeguzis commented on #14
I probably don't need a list of files, but if that can be redirected to a users $HOME or something, that would help. Several distros, such as CentOS, RedHat, SteamOS etc... have default users with limited access to /tmp. While /tmp is fine, it would be nice to redirect that. For now I created that directory and allowed permission to it. Not pressing then, but a good thing to add in a future build.

[2017-04-12 22:19] frranck commented on #14
Hi, can you try the current master?

[2017-04-13 00:31] twinaphex opened #16 "De-C++11ify this"
@frranck

In case you couldn't tell by my comments,

I really, really do not like how you forced C+11 now on this codebase.

This means that it will not compile for PS3, Blackberry, Xbox OG, 360, ever, whereas before there was this possibility.

At the very least add the C++11 portions behind an ifdef so that I can still compile this without needing a C++11 compiler, or better yet, rewrite the C+1

[2017-04-13 02:26] mdeguzis commented on #14
Sure, I'll rebuild and try tomorrow. I was previously building master assume you added a potential fix.

[2017-04-13 03:39] frranck commented on #16
Dammit, is there an easy way to have the buildbots testing a develop branch without shipping a new version into retroarch ?

[2017-04-13 04:53] frranck commented on #15
Do you have an example of SDL2 game working fine with your controllers?

[2017-04-13 04:54] frranck commented on #10
Added an option for the "no monsters" in current master!

[2017-04-13 05:10] twinaphex commented on #16
We'd have to ask either @fr500 or @bparker06. @bparker06 specifically has more control over the buildbot server these days and could possibly field a request on your end.

[2017-04-13 08:03] alexmyczko commented on #16
someone is building an iOS version of mrboom? how to control the character? voice control? "left, left, right, up, down. BOMB!?" haha

[2017-04-13 11:37] mdeguzis commented on #15
I'll double check my packages I build for ones that depend on SDL2, that's as much as I can dig up.

[2017-04-14 02:27] frranck commented on #10
Just added two team modes. I guess we can close this ?

[2017-04-16 15:35] #10 closed

[2017-04-20 05:08] frranck commented on #15
@mdeguzis Hi, could you please try again with current master ?

[2017-04-20 11:33] mdeguzis commented on #15
sorry, been busy, I should have free time tongith.

[2017-04-20 18:52] frranck commented on #16
Fixed, thanks for your bug report @twinaphex

[2017-04-20 18:52] #16 closed

[2017-04-22 09:37] frranck commented on #15
Any update?

[2017-04-23 23:21] mdeguzis commented on #15
Much better it seems, very few occasions where the direction "doubles back" (going up, quick switch to down). I'd say this is ok for me. I cannot get sound to go beyond muffled burts, but i'll raise another ticket for that. I built off the master tree today.

[2017-04-23 23:21] #15 closed

[2017-04-23 23:21] mdeguzis commented on #14
No issue now on master. closing.

[2017-04-23 23:21] #14 closed

[2017-04-23 23:25] mdeguzis opened #18 "Sound issues, muffled bursts - SteamOS"
I cannot get sound to go beyond muffled bursts. Sound effect works fine. SteamOS uses Pulseaudio. HDMII out device. Music is just a burst ever so often, muffled static. Build target is standalone, not libretro. Used laster master tree.

Details:

HDA Nvidia
Digital Stereo HDMI output

lspci:
[code]

lsmod
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://

[2017-04-23 23:29] mdeguzis commented on #15
One thing to note though, is I can't used the dpad on the Xbox 360 controller. Joystick is fine enough as it is for now.

[2017-04-24 06:30] frranck commented on #18
I fixed something, and also added a new command line option:

`  -f <x>, --fx <x>		FX volume: from 0 to 10`

Could you try again and let me know what works for you ? (Default fx volume is 5)

[2017-04-26 04:23] frranck commented on #6
Hello, I just pushed the long awaited autofire = off option...
I'd like to get some proper testing and feedback before deciding its default value.

[2017-04-26 14:47] Tatsuya79 commented on #6
Thank you! seems to be working fine (just tried single player). :)

[2017-04-30 14:00] #6 closed

[2017-04-30 15:33] frranck commented on #18
Hello, any update?

[2017-05-01 13:49] mdeguzis commented on #18
I was aware for several days. I can check this tonight when I do some other work on my other projects.

[2017-05-02 03:07] mdeguzis commented on #18
Had a bit of crisis with my package pool tonight. I built the package and will test tomorrow.

[2017-05-02 23:59] mdeguzis commented on #18
By default now, the item pickup SFX is fine, bombs cause muffled bursts, and there is no background music. Also, why a single dash for one argument, but two for the other? A very minor issue, but there are black bars on the sides. The image is not stretched, but is not 4:3 either.

Tried steam launch options:
[code]

[2017-05-03 05:49] frranck commented on #18
There is no music yet.
All arguments can be called either with 1 dash + 1 letter or with 2 dash + their long name.
Do you find it muffled when several bombs explode at the same time or even with one bomb ?
The sound FX are pretty low quality, but it's also quite likely that I'm not using the SDL2 mixer properly.
I'm not sure about the black bars, I'm don't see them on mac OS X when going full scre

[2017-05-03 11:07] mdeguzis commented on #18
I can snag a screenshot via Steam BPM I think. As for the bombs, each single bomb.  16:9 LCD at 1920x1080. HDMI.

[2017-07-15 13:41] twinaphex opened #22 "Build errors iOS"
See this log -

http://p.0bl.net/73712

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47264191-build-errors-ios?utm_campaign=plugin&utm_content=tracker%2F52991545&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52991545&utm_medium=i

[2017-07-17 12:03] frranck commented on #18
@mdeguzis can you upload a screenshot ?
@ehaupt @alexmyczko Any clue about the black bars ?

[2017-07-22 13:58] mdeguzis commented on #18
Sorry I didn't get back to you in time, oh well. Guess I'll just wait for updates if you're going to close tickets early.

[2017-07-22 15:15] frranck commented on #18
This issue was going in too many directions, I guess the sound issue can be closed.
Please open a different issue about the black bars that includes a screenshot...

[2017-07-23 14:45] frranck commented on #18
Actually this is not fixed. the sound is completely broken on Linux. it runs at half speed compared to OSX.

[2017-07-23 15:49] frranck commented on #18
@mdeguzis Could you please try the current master and let me know for the sound ?
You may need libmodplug-dev and libsdl2-mixer-dev to compile...

[2017-07-23 16:02] mdeguzis commented on #18
Sure! I'll recompile later today. Ty

On July 23, 2017 11:49:01 AM EDT, frranck <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-07-25 09:55] frranck commented on #18
Hello, any update?

[2017-07-25 11:06] mdeguzis commented on #18
Yea I can do that soon today. My house flooded last night, but only about 6 inches of water.

On July 25, 2017 5:55:55 AM EDT, frranck <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-07-27 13:47] #18 closed

[2017-07-28 05:10] frranck commented on #18
@mdeguzis I like clicking buttons  ;)

[2017-07-28 17:50] frranck commented on #18
@mdeguzis
BTW do you have an idea how to fix the makefile so that "make mrboom" would be doing the same than "make mrboom LIBSDL2=1" ? This target is only used for the SDL2 version...

[2017-07-28 22:46] mdeguzis commented on #18
You can set the default at the top of the makefile. See https://www.gnu.org/software/make/manual/html_node/Setting.html

e.g.
[code]

Should set LIBSDL2 var to 1 or whatever value, if* it is not set by the user. That would effectively make it the default for 'make mrboom'. This would negate the `CFLAGS += -D__LIBRETRO__` option though, but setting LIBSDL2="" may equate to "False". You could always

[2017-07-29 06:08] frranck commented on #18
But this would change running "make"
How do I get LIBSDL2 set when running "make mrboom" and LIBRETRO set when running "make" ?

[2017-07-29 13:23] mdeguzis commented on #18
mrboom is just a target, you can set the variable under there.

[code]

Just how you have that rely on the objects variable def, have it rly on the LIBSDL2 def, or have it rely on a another section that set it

[code]

The lines after a section should be what it relies on, from what I always understand. I do this in Makfiles for docker Makefiles I construct at work. If a target has dependent objec

[2017-07-30 08:37] frranck commented on #18
if I do that
[code]
It doesn't work, the LIBSDL2 variable is set too late, could try to call a "make command" inside the  mrboom target but that sounds bad...

[2017-08-02 09:17] alexmyczko commented on #22
Server Error (500)

[2017-08-05 09:21] frranck commented on #18
any clue @mdeguzis ?

[2017-08-05 09:47] mdeguzis commented on #18
I'll see if I can test this weekend. Have some Docker work to do first. No problem helping out, just have to be patient :)

[2017-08-08 05:48] frranck commented on #22
@alexmyczko

[code]

[2017-08-08 17:11] frranck commented on #22
@twinaphex Just pushed a commit, can you confirm it's fixed? Not sure about the fix, would be nice to try if the AI still works...

[2017-08-08 19:55] frranck commented on #22
@twinaphex how do you install the cores on iOS ?
It says it is downloading them but they don't appear...

[2017-08-22 20:46] #22 closed

[2017-10-16 18:52] frranck commented on #18
Hi @mdeguzis Michael, could you test the current master to let me know how it behavs under linux when you resize the window or go full screen ?

[2017-10-17 02:15] mdeguzis commented on #18
With SteamOS the compositor acts in "full screen" view all the time, even if you set an option to be windowed. As weird as it sounds, it behaves like a console should, I don't have to deal with it. I won't be able to test that part.

[2017-11-01 23:45] supagu opened #25 "Boot crash"
Trying to run mrboom from command line:

** buffer overflow detected ***: mrboom terminated

I am running manjaro linux and downloaded mr boom from the AUR.

[2017-11-01 23:48] supagu commented on #25
More info from gdb:

(gdb) r
Starting program: /usr/bin/mrboom
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".
[New Thread 0x7ffff45f5700 (LWP 22110)]
[New Thread 0x7fffde5f7700 (LWP 22114)]
*** buffer overflow detected ***: /usr/bin/mrboom terminated

Thread 1 "mrboom" received signal SIGABRT, Aborted.
0x00007ffff6d808a0 in raise () from

[2017-11-02 05:49] frranck commented on #25
Hi, could you try to compile it from the sources and show me the logs ?
It could be some "source fortification", we run into this problem on debian and there's an "hardening=+all,-fortify" option added somewhere.

[2017-11-02 06:40] supagu commented on #25
I checked out the code from git and ran make:

s@server mrboom-libretro]$ make
g++ -O3 -DMRBOOM -DGIT_VERSION=\"" 44daf18"\" -D__LIBRETRO__ -I./libretro-common/include -I./ai -I. -std=c++98 -Wall -pedantic -fPIC   -c -o common.o common.cpp
In function ‘bool mrboom_init()’:
cc1plus: warning: iteration 8 invokes undefined behavior [-Waggressive-loop-optimizations]
common.cpp:362:17: note: within thi

[2017-11-02 07:40] frranck commented on #25
You compiled the libretro library, for the SDL2 version:

apt-get install libsdl2-dev libmodplug-dev libsdl2-mixer-dev libminizip-dev
make clean
make mrboom LIBSDL2=1

[2017-11-02 07:51] frranck commented on #25
don't forget the "make clean"

[2017-11-02 08:58] supagu commented on #25
oh I don't have a linux distro that uses apt-get, I'm using manjaro that uses pacman, but those packages don't seem to exist: libsdl2-dev libmodplug-dev libsdl2-mixer-dev libminizip-dev

[2017-11-03 07:23] frranck commented on #25
Maybe try to compile, if it doesn't work make sure you have the depencies listed there ?https://aur.archlinux.org/packages/mrboom-git

[2017-11-10 13:32] Benance opened #27 "Install on recalbox?"
Hello
Is there a way to (simply) install Mr boom on recalbox?
Thanks for your answers.

[2017-11-10 17:45] frranck commented on #27
Hi, I don't know recalbox, maybe you could open an issue there ?

[2017-11-11 06:56] frranck commented on #25
Any update?

[2017-11-12 03:26] supagu commented on #25
I gave up trying to get it compiling.

[2017-11-12 13:39] mdeguzis commented on #25
I maintain the AUR package. I will take a look at this today on my Arch Linux machine and let you know how I make out

[2017-11-13 00:08] mdeguzis commented on #25
I will have to get to this tomorrow. I was on a role with a development Python tool for work.

[2017-11-13 08:45] Benance commented on #27
Thanks for your answer.
Recalbox is an emulation-dedicated small operating system running libretro/retroarch as backend (that's why I created an issue here) and emulationstation as frontend.
More infos available here: https://www.recalbox.com/

[2017-11-18 07:16] rockaddicted commented on #27
Hi @Benance,
it is a recalbox issue, not one related to the core development.
An issue is already open on our repo. https://gitlab.com/recalbox/recalbox/issues/257
It is planned to it in the futur.

This issue can be closed.

[2017-11-18 07:39] #27 closed

[2017-11-19 09:46] kenden commented on #25
I got the same thing on linux mint.
[code]

Steps attached here (on last commit (`fca110d` on `master`):

[linux_mint.txt](https://github.com/Javanaise/mrboom-libretro/files/1485424/linux_mint.txt)

**Versions**

$ uname -a
Linux qna-ThinkPad-T420 4.13.0-16-generic #19-Ubuntu SMP Wed Oct 11 18:35:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

$ cat /etc/os-release
NAME="Linux Mint"
VERSION="18.2 (Son

[2017-11-19 09:52] frranck commented on #25
yeah I think that's fortification that get it to crash:

_/usr/include/x86_64-linux-gnu/bits/string_fortified.h:90:63: warning: ‘void* __builtin___memcpy_chk(void*, const void*, long unsigned int, long unsigned int)’ writing 495 bytes into a region of size 56 overflows the destination [-Wstringop-overflow=]_

[2017-11-21 06:55] frranck commented on #25
@kenden could you please try again with the last commit ?

[2017-11-27 18:31] frranck commented on #25
@mdeguzis I pushed a 3.9 version, could you please update the package to see if it fixes the problem ?

[2018-01-17 00:43] mdeguzis commented on #25
AUR package updated. Please retest

[2018-01-20 11:25] frranck commented on #25
@supagu @kenden Could you guys please test again with the 4.1 package update ?

[2018-01-21 22:45] supagu commented on #25
I can confirm the game now works from the AUR on Manjaro using 4.1 package. Closing.

[2018-01-21 22:45] #25 closed

[2018-01-28 12:53] kenden opened #30 "Cannot run Error of failed request: BadValue (integer parameter out of range for operation)"
# Description

Compile error and runtime error
Cannot run Error of failed request:  BadValue (integer parameter out of range for operation)

# Repro steps

[code]

# Versions
[code]

MrBoom on git sha `5047b30b72c552d1f132549148a0cb368db22272` (in master branch)

[2018-01-28 13:27] frranck commented on #30
Can you run other SDL2 programs ? Seems like a known error:

https://www.google.de/search?q=X+Error+of+failed+request%3A++BadValue+%28integer+parameter+out+of+range+for+operation%29&oq=X+Error+of+failed+request%3A++BadValue+%28integer+parameter+out+of+range+for+operation

[2018-01-28 13:42] frranck commented on #30
However it's a bit weird you're having some fortification, could you please try again and post the compile log with the latest commit ? d35f547

[2018-02-02 21:00] frranck commented on #30
Any update?

[2018-02-03 08:30] kenden commented on #30
I got the same result with the last commit.
Sorry I don't have access to a computer for the next 10 days to add more info.

[2018-02-17 12:44] frranck commented on #30
hi @kenden, could you please try the current master ?

[2018-02-18 10:49] kenden opened #31 "git pull takes a long time"
When there are large files in the repository, it can take a long time to do a `git pull` on the repository.
https://stackoverflow.com/questions/7731785/git-stuck-on-unpacking-objects-phase

Making big files smaller would help with this:

[code]

[2018-02-18 17:35] kenden commented on #30
@frranck Using the last version from master, it works.

But this is a new new machine with:
[code]

I got this when compiling:
[code]

[2018-02-18 17:37] frranck commented on #30
Yes,  I noticed that warning too, but it does fix the problem...

[2018-02-18 17:37] #30 closed

[2018-02-18 17:38] frranck commented on #31
Sorry it would require too much efforts to improve that... Will close that one.

[2018-02-18 17:38] #31 closed

[2018-02-19 12:09] twinaphex opened #32 "Compilation error MSVC 2003 (for PC and Xbox OG)"
If we can fix this, we could make this game work on the original Xbox.

Log here -

https://hastebin.com/vuwomegula.pas

[2018-02-19 22:34] frranck commented on #32
@twinaphex Just pushed, let me know if that works now...

[2018-02-19 22:37] frranck commented on #32
Forgot the changes in mrboom.h will push again in a bit...

[2018-02-20 14:41] twinaphex commented on #32
Now I get this error -

mrboom.c(119307) : warning C4295: 'heap57' : array is too small to include a ter                                                                                            minating null character
mrboom.c(121279) : fatal error C1060: compiler is out of heap space

[2018-02-20 15:42] frranck commented on #32
funny to get an heap error with the heap variable. Isn't C4295 is caused by C1060 ?
microsoft gives some solution for C1060:
https://msdn.microsoft.com/en-us/library/yz7kx3y2.aspx

[2018-04-02 19:13] goupildb opened #33 "SDL2: The joystick does not work properly"
Hi,
My joystick (Logitech Rumblepad) does not work properly.
The digital stick works well, but the analog stick does not work properly.
The problem : the scale of response of the game to the movement of the analog stick is too short or nonexistent (for example I put the analog stick completely to the right and sometimes it does not respond).

I think its a problem with the game and not with SDL, b

[2018-04-12 12:46] frranck commented on #33
Hi @goupildb , could you please try again with current master ?

[2018-04-12 18:54] goupildb commented on #33
It works!
There are sometimes some small lags with the joystick, but it works, it's much more playable
Thank you very much
Resolved!

[2018-04-12 18:54] #33 closed

[2018-05-03 14:19] twinaphex opened #35 "Compilation fails on Windows x64"
See this log -

<retrobot> mrboom: [status: fail] [recipes/windows/cores-windows-x64_seh-generic] LOG: http://p.0bl.net/4998

Let me know if you are able to see these build errors yourself and you would appreciate me not pointing this out, whatever works best for you.

[2018-05-03 16:55] frranck commented on #35
Hi,
I have access the build bot, but it's good to get notified here.
Any update on this one ? https://github.com/Javanaise/mrboom-libretro/issues/32
There are some missing WAV to be added to the libretro version, but that will make the data even bigger...

[2018-05-03 20:54] #35 closed

[2018-05-13 07:45] frranck commented on #32
@twinaphex I tried to fix the problem by loading the data from the files like in the SDL2 version.
This is adding a minizip dependancy and I've got error with 16.WAV and 17.WAV.
Could you give it a try ?

[2018-05-19 20:41] frranck commented on #32
Fixed the 16.WAV and 17.WAV problem...

[2018-05-30 14:04] frranck commented on #32
@twinaphex Any update on that one ?
Also: could you please put a bounty on that ? https://github.com/libretro/libretro-common/issues/34#issuecomment-391437454 … I couldn't figure out...

[2018-05-30 14:26] frranck opened #36 "Libretro: playing music doesn't work"
I tried to load .MOD and .XM in that branch https://github.com/Javanaise/mrboom-libretro/tree/adding_music using ibxm but I'm getting some "audio_mixer_play_mod cannot retrieve duration !" errors.

If I change https://github.com/Javanaise/mrboom-libretro/blob/adding_music/libretro-common/audio/audio_mixer.c#L599
to replay = new_replay( module, 48000, 1 ); // ( module, s_rate, 1);
I don't get the e

[2018-07-09 18:00] zanzabarjones opened #39 "Could you make it possible for the user to add user created sprites?"
mrboom is a beautiful game but it would be even more amazing if the user could use their own sprites..like Link from the legend of Zelda as Mr Boom or even Bugs Bunny or completely user generated sprites..

[2018-07-10 04:06] frranck commented on #39
Hi Zanzabar, that's a bit tricky because of the game assembly code history. The sprites would need to use a very specific palette, positioning and very low resolution. If someone provided good sprites I would figure out a way, but I don't think it make sense to spend time on this before...

[2018-07-10 04:06] #39 closed

[2018-09-16 18:44] twinaphex commented on #36
Finally added $50 to this, it's now a bounty!

https://www.bountysource.com/issues/59020062-libretro-playing-music-doesn-t-work

[2018-10-13 01:16] mudlord commented on #36
The reason audio doesnt currently play with the mixer is because the functions for getting the audio and chunk size are not implemented. You will need to use the mixer functions in audio_mixer.c iirc to set up a mixing loop for all music.

[2018-10-14 21:33] mudlord commented on #36
You are using the functions from audio_mix.c it seems. Those functions are incomplete.

[2018-10-21 08:34] frranck commented on #36
@mudlord Sorry I have no idea how to do that. Could you please submit a PR for this ? There's a bounty.

[2018-11-22 05:56] frranck commented on #36
@twinaphex this has been done here:
https://github.com/Javanaise/mrboom-libretro/pull/41
@DevilFrost can claim this bounty...

[2018-11-23 06:32] frranck commented on #36
Seems it's breaking on ios:
http://p.0bl.net/64615

[2018-11-23 18:54] DevilFrost commented on #36
Please test the branch ios.

[2018-11-23 19:58] frranck commented on #36
still fails:

cc -arch armv7 -isysroot /Volumes/T2/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS11.4.sdk -miphoneos-version-min=5.0  -miphoneos-version-min=5.0 -DIOS -O3 -DMRBOOM -DHAVE_IBXM -D_FORTIFY_SOURCE=0 -DPLATFORM=\"Darwin\" -DGIT_VERSION=\"" fdffce4"\" -D__LIBRETRO__ -I./libretro-common/include -I./libretro-common -I./ai -I. -Wall -pedantic

[2018-11-24 09:07] DevilFrost commented on #36
Update. Please test.

[2018-11-24 12:13] frranck commented on #36
1 file changed, 3 insertions(+), 3 deletions(-)
franck-mac-book-air:mrboom-libretro franck$ make -f Makefile platform=ios -j6
2018-11-24 13:13:23.833 xcodebuild[30831:507120] [MT] PluginLoading: Required plug-in compatibility UUID 426A087B-D3AA-431A-AFDF-F135EC00DE1C for plug-in at path '~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/XCActionBar.xcplugin' not present in DVTPlugInCom

[2018-11-24 13:37] DevilFrost commented on #36
There should be no s16_to_float_neon.c and float_to_s16_neon.c

make clean?

[2018-11-24 15:48] frranck commented on #36
yes I did a make clean

^
cc -arch armv7 -isysroot /Volumes/T2/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS11.4.sdk -miphoneos-version-min=5.0  -miphoneos-version-min=5.0 -DIOS -O3 -DMRBOOM -DHAVE_IBXM -D_FORTIFY_SOURCE=0 -DPLATFORM=\"Darwin\" -DGIT_VERSION=\"" 0384120"\" -D__LIBRETRO__ -I./libretro-common/include -I./libretro-common -I./ai -I. -Wal

[2018-11-24 15:49] frranck commented on #36
Already up to date.

[2018-11-25 08:43] DevilFrost commented on #36
It seems strange that the old version is used when compiling.
I updated the file Makefile.common. Please test.

[2018-11-25 09:30] frranck commented on #36
you expect SOURCES_ASM not to be compiled?

[2018-11-25 11:01] DevilFrost commented on #36
I think I understand what the problem is.

[2018-11-25 11:03] DevilFrost commented on #36
The compiler compiles .c files instead of .S files.

[2018-11-25 13:32] DevilFrost commented on #36
Please test the branch ios-dont.

[2018-11-25 14:40] frranck commented on #36
btw the SDL2 seems broken in ios-dont

make mrboom LIBSDL2=1

Undefined symbols for architecture x86_64:
  "_convert_float_to_s16", referenced from:
      _audio_mix_load_wav_file in audio_mix.o
  "_convert_s16_to_float", referenced from:
      _audio_mix_load_wav_file in audio_mix.o
  "_retro_resampler_realloc", referenced from:
      _audio_mixer_load_wav in audio_mixer.o
      _audio_mix_load_w

[2018-11-25 17:29] DevilFrost commented on #36
It is very strange that it breaks the x86_64.
I updated the Makefile.

[2018-11-25 18:39] frranck commented on #36
there's two x86_64  versions, a libretro and a SDL2, It's getting a bit confusing (the sdl2 version is currently broken in master too, will fix it), can you please make a PR that fixes the ios version ?

[2018-11-26 15:59] DevilFrost commented on #36
Something strange with the PR. Try to create and see.

[2018-11-26 17:38] frranck commented on #36
There was an issue with the make clean, let me check

[2018-11-26 18:09] frranck commented on #36
Current master still fails, can you make a PR with your latest changes?

[2018-11-26 18:19] DevilFrost commented on #36
I can not.

[2018-11-26 18:22] frranck commented on #36
Why not ?

[2018-11-26 18:33] DevilFrost commented on #36
I can not merge any branch.

[2018-11-26 19:18] frranck commented on #36
Ok I added DONT_WANT_ARM_OPTIMIZATIONS and it compiled on iOS.
I noticed one weird thing though: on android there's no music only FX.

[2018-11-26 19:30] DevilFrost commented on #36
It is really strange.

[2018-11-27 07:11] frranck commented on #36
On OS X it's weird also, sometime I run it an there's no music only FX. Sometimes there is both.

Something else: you're not using musics_volume? https://github.com/Javanaise/mrboom-libretro/blob/master/common.cpp#L103
Doesn't every song has a different volume?

[2018-11-27 09:01] DevilFrost commented on #36
musics_volume used with the SDL2. The libretro is not used.
Volume is set here: `voice = audio_mixer_play(musics[index], true, 1, NULL);`

[2018-12-02 12:16] DevilFrost commented on #36
make mrboom LIBSDL2=1

Works with a gcc for x86_64.

[2018-12-02 13:15] frranck commented on #36
@DevilFrost yes I fixed it

[2018-12-02 13:16] frranck commented on #36
@DevilFrost https://github.com/Javanaise/mrboom-libretro/commit/e3cf4bc48fb3c12dac3e5b029d91469471c88cb5 do you have the random bug where the music is not on ? which platform are you using.

[2018-12-02 16:50] DevilFrost commented on #36
@frranck there is no such bug. Debian.

[2018-12-15 12:09] frranck commented on #36
OK I fixed the android issue. There still no music on Nintendo switch though.

[2019-02-07 09:04] karatoso opened #44 "Can't Compile mrboom-libretro on odroid Xu4"
Hello, first congratulations for this bomberman! I would love to have it on my Odroid Xu4. I saw that there was an experimental package to install on Retropie, the problem is that it does not compile properly. Is there a way to make it work on this machine, I'm not familiar with c ++?

Thanks a lot for your help !

here are the compilation logs :
[logs](https://pastebin.com/emZABQrG)

[2019-02-07 09:41] frranck commented on #44
Hi, did u forgot the logs?

[2019-02-07 10:01] karatoso commented on #44
sorry I just added it ! :)

[2019-02-07 12:51] frranck commented on #44
@karatoso could you please try again with this commit? https://github.com/Javanaise/mrboom-libretro/commit/87a4af45ff35e693b4106ba1a340ab2111f61303

[2019-02-07 18:55] joolswills commented on #44
Would be better to use a flag so it can be set in any platforms that need it or passed manually to `make` (We don't compile setting the platform flag to armv7 etc). This is how it's done in other libretro cores. eg this snippet from mupen64plus (obviously you only need the audio bits.

[code]

[2019-02-07 19:09] frranck commented on #44
ok @joolswills is this what you mean? 50bc7b367934fd91a339e70cf4abb19352fd23a4

[2019-02-07 19:20] joolswills commented on #44
Yep. I will test this thanks.

[2019-02-07 19:51] joolswills commented on #44
You will need to add the other sources as referenced in the code snippet above.

here' a diff against your current trunk

[code]

with that it works (building with `make HAVE_NEON=1`)

BTW - it took a while to checkout the repo even with `--depth=1`. I noticed you have 189MB of animated gifs in the tests/ folder. Are these needed to be on the repository or just generated by the testsuite? A full d

[2019-02-07 20:50] frranck commented on #44
@joolswills  OK I updated the latest commit.
Yes you're right the tests are simply generated, but are used by the README.md, is that an issue? what do you suggest?

[2019-02-07 20:53] joolswills commented on #44
I would probably host them elsewhere, and just reference them maybe. git is not ideal for large binaries as the repo will just keep getting bigger if these are changed often. There's no need for them to be in source control imho (since the code to generate them is).

[2019-02-08 20:48] karatoso commented on #44
it works friends, thank you very much, lr-mrboom compiles well on Odroid xu4 with your changes, thank you bcp! I have not tested the game on this machine yet, I will do it, I will keep you informed !

[2019-02-09 07:14] frranck commented on #44
thanks for the help @joolswills will close this

[2019-02-09 07:14] #44 closed

[2020-10-18 00:48] Moisan opened #49 "libretro-common folder of release 5.0 is empty"
The 5.0 release has a `libretro-common`, hence compilation from source fails.

[2020-10-18 02:07] SimpleTease commented on #49
When building, I had to `git submodule update --init --recursive` to pull the `libretro-common` files from `https://github.com/libretro/libretro-common/tree/fedb955ff18465d879b8bb02c7e6fc17188780b1`

I wonder if there's another way though.

[2020-10-18 04:53] frranck commented on #49
Hello,
I added MrBoom-src-5.0.tar.gz and MrBoom-src-5.0.zip in the release assets, that includes the submodule, maybe you could use one  of those?

[2020-10-18 22:48] Moisan commented on #49
@frranck thank you, this fixes the issue!

[2020-10-18 22:48] #49 closed

[2020-10-22 02:19] SimpleTease commented on #32
I created a working build with 2003.
https://github.com/SimpleTease/mrboom-libretro/commit/59e41991528a32fea79cbc959a77fc88eba83ef9

0. minizip dependency
1. net files have to load before mrboom.h
2. compat_snprintf
3. converted sdl2_data.h to avoid 65536 string limit
4. copied a bunch of 2003 makefile stuff from other libretro projects
5. mrboom.h
- doesn't understand `__attribute__ ((__packed__)

[2020-10-25 16:55] twinaphex commented on #32
Hi @SimpleTease , did you send a PR for this to either the libretro repo or Javanaise?

[2020-10-25 20:54] SimpleTease commented on #32
Not yet ready because I'm making extra changes like adjusting formatting and modifying compiler flags. I found a fix for the 2003 crashing but 2005 has some unique libretro-common/net compiler problems. So I want to make sure it's fully ready before sending off the PR.

I'll probably add it up here to Javanaise when I feel it's convenient.

[2020-10-29 02:44] SimpleTease opened #52 "libretro feature request - disable netplay option"
Hi, I'm behind a firewall that blocks out packets and core just hangs for awhile until it timeout. So asking for a run-time core option that can skip netplay check at core bootup when desired.

[2020-10-29 06:13] frranck commented on #52
Those are stats, so I guess we could change the timeout to 1 second.

[2020-10-29 16:02] SimpleTease commented on #52
Or shorter timeouts and more net checks could work too.

[2020-10-29 18:16] SimpleTease opened #53 "ai + human bot team cooperation"
Not sure if it's issue but when I play team games, the bots seem to try and actively bomb each other. Even in 1 vs 7 Skynet mode. I think they should act more as a team and work to sabotage their opponents instead of friendly fire.

[2020-10-29 18:17] SimpleTease opened #54 "skynet status screen"
I think it'd be more helpful if the Skynet post-round screen has just 1 for Humans and 1 for Bots, instead of everyone. Like how the Gender team mode displays the score card.

[2020-10-29 18:57] SimpleTease commented on #52
Or non-blocking thread on platforms that support.

[2020-10-29 21:32] SimpleTease opened #56 "select aspect ratio"
I think there should be options to change aspect ratio
- 16:10 (native)
- 4:3 (crt)
- 16:9 (wide)

Libretro stretches to 16:9 and I think default should be changed to 16:10 (320x200).

[2020-10-29 21:35] SimpleTease opened #57 "change sound rate using Makefile"
I think there should be way to select different sample rate if using Makefile define at compile-time.

Default
- Libretro = 48000
- SDL = 44100

[2020-10-30 01:43] SimpleTease commented on #53
Tested more. They're just sloppy around each other or roam around in large groups sometimes, instead of fanning out or attacking in zones.

But cpu will target humans in sex team play. I get constantly tagged by friendly cpu bots who should be on my team.

[2020-10-30 02:01] SimpleTease commented on #53
And bot can get overconfident when allowed to drop 3+ bombs. Several times during 1v1 or 1v2, the cpu killed itself or its partner because it didn't bother to check safety limits and just happily dropped bombs every chance, got trapped and flamed.

[2020-10-30 04:31] SimpleTease opened #58 "libretro sfx little fast?"
I noticed that the sdl raw wave files are @ 44100 but libretro plays them at 48000 so they sound slightly sped up (8%). Is there way to 1-shot upsample them using libretro-common resampler?

[2020-10-30 07:11] frranck commented on #54
Graphics parts are tricky to change because the game is a hack from an assembly version.

[2020-10-30 07:41] frranck commented on #53
Yes they do care about the countdown time, otherwise they wouldn't be able to walk next to their own bomb.
Here is the fitness function on where to drop a bomb:
https://github.com/Javanaise/mrboom-libretro/blob/master/ai/GridFunctions.cpp#L661
They also do care about teams but they could also decide to kill you if it's a good team strategy:
https://github.com/Javanaise/mrboom-libretro/blob/master/

[2020-10-30 12:58] SimpleTease commented on #53
`They also do care about teams but they could also decide to kill you if it's a good team strategy:`

It was just 2 girls in the bottom-right corner with the other having a kangaroo, and the enemy males far elsewhere locked behind some barriers. The team friendly goober kept dropping bombs anytime I got near but ignored the other girls. They got me pretty mad. :rofl:

`IMO If AI feels too systemat

[2020-10-30 12:58] #53 closed

[2020-10-30 14:28] SimpleTease commented on #54
Also realized that fitting 7 Skynet names under 1 icon wouldn't work well. Maybe giving all Humans or Bots a medal could make sense but the asm again, that would be trouble. I'll close this since it seems realistically not feasible.

[2020-10-30 14:28] #54 closed

[2020-10-31 08:08] frranck commented on #58
not sure, but libretro is not using the same files than sdl, it's using data from here https://github.com/Javanaise/mrboom-libretro/blob/master/retro_data.h

[2020-10-31 09:33] frranck commented on #56
It's there,
https://github.com/Javanaise/mrboom-libretro/blob/d7e4dbbe19f2c88355369328e50bd1def91dc674/retro.cpp#L177 and there's also the sample rate around...

[2020-10-31 12:47] SimpleTease commented on #56
I was thinking of an adjustable run-time option like the C64, Snes and other cores. I'll play around with the code when I get a chance.

[2020-10-31 12:50] SimpleTease commented on #58
Was using LOAD_FROM_FILES for my own external customizations but I'll check that retro file too and try to figure out the sound rate.

[2020-10-31 16:09] SimpleTease commented on #57
Actually this is a bad idea since compiler user may have no clue what they're doing. Libretro wave files are rate hard-coded whereas Sdl dynamic resample.

[2020-10-31 16:09] #57 closed

[2020-10-31 19:58] SimpleTease commented on #58
I did the math and retro_data.h is 48000 16-bit stereo. Frontend was adding some latency and maybe the upsample added some too. Libretro does sound slower now at 44100 vs 48000 so I guess should revert the change.
https://github.com/Javanaise/mrboom-libretro/commit/f650c14251bffea21e34c396bb637cc4a9aa2a84#diff-815b414bb91f23155827e50a78efdae23e3ed87e63fc47c1b99d2858338f301bL74

Must be my error so

[2020-10-31 19:58] #58 closed

[2020-10-31 20:46] SimpleTease commented on #52
I created another build that has netplay disabled and I just switch between the two when needed.

[2020-10-31 20:46] #52 closed

[2020-11-01 04:22] #56 closed

[2020-11-02 14:05] SimpleTease opened #60 "isAIActiveForPlayer not correct?"
From recent master.
https://github.com/Javanaise/mrboom-libretro/blob/e074bafa1fe9480df1ba412752912a2c2c454958/ai/MrboomHelper.cpp#L122

Bots are bit 6? (64-127)
Monsters are bit 7? (128-255)

I don't think it affects anything but just for correctness.

[2020-11-02 14:34] SimpleTease commented on #53
Took me some time to understand the friendly bot behavior. If there's `nothing` to bomb (no enemies, walls, misc stuff) then they won't drop a bomb near you. Otherwise they will drop it figuring that you'll get out of the way, and they won't mind sacrificing you if the team gains something. They can get very aggressive when opponents are around. :rofl:

[2020-11-02 15:15] frranck commented on #60
Not sure, this is looking for bombermen AI, the Monsters AI is in the assembly code. The C++ layer is injecting keys input for the AI, there used to be some IPX network code... https://github.com/bparker06/mrboom30

[2020-11-02 15:17] frranck commented on #60
Anyway this function is probably correct.

[2020-11-03 00:45] SimpleTease commented on #60
Alright! I was suspicious that it was maybe `(m.control_joueur[player] < 64 * 2)` but guess not. Just asking to be safe. :)

[2020-11-03 00:45] #60 closed

[2020-11-03 01:35] SimpleTease opened #61 "ai victories error?"
https://github.com/Javanaise/mrboom-libretro/blob/e074bafa1fe9480df1ba412752912a2c2c454958/ai/MrboomHelper.cpp#L455-L456

I think it should be `return(m.victoires[player & ~1]);`
- white = 0-1
- red = 2-3
- blue = 4-5
- grey = 6-7

I checked the medals in memory and team color wins are stored in slots 0,2,4,6

____________________________________________________

https://github.com/Javanaise/mrboo

[2020-11-03 04:33] SimpleTease opened #62 "skynet winner error"
Start Skynet game
- player 1 = bot
- player 2 = human
- player 3 = bot

Player 2 kills self
Winner = player 2 (human)

[2020-11-03 04:44] SimpleTease commented on #39
If someone found the asm that loaded the pcx and then used a redirector to load custom gifs instead, would that get anywhere? Have no idea about the palette hacking though.
https://github.com/bparker06/mrboom30

[2020-11-03 04:46] SimpleTease commented on #62
Oh wait. It's my error from a team medal hack I'm creating.

[2020-11-03 04:46] #62 closed

[2020-11-03 05:23] frranck commented on #61
seems it's putting all victories for humans in 0 and for AI in 1.

[2020-11-03 05:25] frranck commented on #39
The sdl2 version still decrunchs the pcx into memory, it's unzipping some data files, the retrolib version is using a dump from the memory, so that it doesn't need to do that. That was an issue for some platforms...

[2020-11-10 00:31] SimpleTease opened #66 "make disease more fun?"
The sickness you get is fun to suffer through, but you have to intentionally infect yourself with it. No bots will do it and most humans won't either.

I was wondering if maybe the gameplay could be changed to make it more usable?
- Have it affect 1 random player, instead of person who picks it up.
- Have a few mystery bonus icons that hide what the powerup is. If unlucky, you got the diseased one

[2020-11-10 06:27] frranck commented on #66
there is still a bunch of use cases:
- players that don't know about them
- when you really want to go somewhere or need to run away
- if you self contaminate in order to infect a stronger player and go for a draw
That's part of the minimalistic gameplay which I liked in early versions (i.e. Dynablaster) that made the game more skill focused versus some more "random shit is happening" elements (th

[2020-11-10 13:00] SimpleTease commented on #66
Didn't know that was possible. :)

I do see the appeal of the non-randomness.

[2020-11-10 13:00] #66 closed

[2020-11-10 17:14] #61 closed

[2020-11-16 04:32] SimpleTease commented on #36
Made an interesting discovery. Gamecube music sounds really fast, like 2x Windows builds. And it turns out Windows builds are 2x faster than several standalone MOD players. Which explains why some riffs sound so rushed. Changed libretro rate to 22050 and music tempo now feels more relaxed everywhere. So there's a problem in the ibxm player. :shocked:

[2020-11-16 05:06] SimpleTease commented on #36
Worth pointing out that the player got a small update.
https://github.com/martincameron/micromod/tree/master/ibxm-ac

And it correctly puts out wave files that sound okay. So now we analyze what libretro is doing that speeds it up.

[2020-11-17 01:11] SimpleTease commented on #36
https://github.com/libretro/libretro-common/blob/828be1d3db59d21a50af7133bfad61506f651ba5/audio/audio_mixer.c#L997

That should be `int16_t`. I'll patch upstream `libretro-common` and update 2019 mod player.

[2020-11-19 18:18] SimpleTease commented on #36
Finally found the music issue. It was skipping samples.
https://github.com/libretro/libretro-common/blob/a810c57f8c4e51659ae776beb25d7bd4a7b86251/audio/audio_mixer.c#L999

It should refill when
`if (voice->types.mod.samples == 0)`

Will test later if gamecube music is fixed.

[2020-11-20 04:47] SimpleTease commented on #36
Submitted a PR to libretro-common. Windows is fixed. Gamecube sounds better but still has stereo separation + very fast tempo, so might be some ibxm endian problem. I don't know if Emscripten or Switch is changed, but I'll PR over here too after common is merged.

[2020-11-20 06:12] frranck commented on #32
so can this one be closed?

[2020-11-20 13:23] SimpleTease commented on #32
Tried msvc buildbot and it works. So ticket can be closed.

[2020-11-20 17:17] #32 closed

[2020-11-21 05:30] SimpleTease commented on #36
Emscripten is not playing music because frontend Makefile.emscripten needs `HAVE_IBXM=1`. I'll PR that too. Is Switch ctr platform?

[2020-11-21 07:24] frranck commented on #36
@SimpleTease what do you mean ctr platform?

[2020-11-21 07:30] frranck commented on #36
seems Switch is erasing the CFLAGS https://github.com/Javanaise/mrboom-libretro/blob/master/Makefile#L221

[2020-11-21 14:37] SimpleTease commented on #36
I was mistaking Switch (libnx, libtransistor) with 3DS (ctr)
https://github.com/Javanaise/mrboom-libretro/blob/master/Makefile#L237
https://github.com/Javanaise/mrboom-libretro/blob/master/Makefile#L215
https://github.com/Javanaise/mrboom-libretro/blob/master/Makefile#L230

Maybe it's intentional. Other libretro forks do same thing. No idea why.
https://github.com/libretro/libretro-handy/blob/dba8

[2020-11-22 17:05] SimpleTease commented on #36
Emscripten and Switch should have music now, although I can't test either.

[2020-11-22 17:22] frranck commented on #36
Emscripten can be tested online https://web.libretro.com/ when it's merged and we can ask someone for Switch.

[2020-11-22 19:09] SimpleTease commented on #36
I tried the web player with several browsers but it always hangs on me when trying to start the core.

For the gamecube music problem, `ibxm - replay_get_audio` is returning $280 (Gamecube) vs $3C0 (Normal). And I'm also getting AI bots (Gamecube) that sometimes freeze when dropping bombs. Reliably when it's this pattern (A -> B)

[code]

Trying to figure out both problems.

[2020-11-22 20:49] SimpleTease commented on #36
Because static linking, frontend is sharing audio mixer with core. Frontend is setting rate to 32000 which is creating our tempo problems.

[code]

I think we can move the mixer init around in common.cpp but I'll need to do some checking first, to make sure Retroarch can re-init the mixer when switching cores or internal music player.

[2020-11-24 00:17] SimpleTease opened #78 "AI bots freezing on Gamecube"
This pattern is 100% repeatable.
[code]

Bot starts at A. Walks to B but stops 1 pixel short of destination. AdderX, AdderY = (0,0).

https://github.com/Javanaise/mrboom-libretro/blob/5d7cd0d7adc03bb2a6e615eeccb39703eaa01385/ai/MrboomHelper.hpp#L118-L121

This is where it gets weird.
[code]

gcc version 7.5.0. So it likely affects Wii, Wii U also since they share same toolchain.

I have no idea wh

[2020-11-24 04:56] SimpleTease commented on #78
Compiler was doing some bad optimization trick with negative numbers. Suggestion is to use abs and re-apply sign afterward.

[2020-11-24 04:56] #78 closed

[2020-11-27 06:18] frranck opened #81 ""eastern egg" on xmas week"
What about triggering some xmas features on xmas week? Like vlc that is changing its icon.
Willing to help on that @SimpleTease ?

[2020-11-27 13:40] SimpleTease commented on #81
I can try to assist where I can.

Technical
1. https://github.com/libretro/libretro-common/blob/master/time/rtime.c -- should cover localtime for Libretro

2. Graphics replacements -- If you add surprises for multi-holidays, (...) (...) maybe it'd be simpler to have different zips and run-time select which package to use?

Theme = I suppose depends on how far you want to go with the makeover
1. Ti

[2020-11-27 17:17] frranck commented on #81
So I was thinking of something small, this doesn't need to be huge. VLC does the trick with 1 icon...
I would change the menu image, so that bombermen have hats, and use an xmas chiptune there also.
Since SDL and retrolib are loading differently, I guess one easy option for the image would be to use the same palette and include it as raw data, and then patch the previous version in memory after SD

[2020-11-27 22:59] SimpleTease commented on #81
I think that could work. Will you be using (8 different bombermen helmet gfx) or (one generic hat sprite and overlay each helmet by copying using transparency bits)?

I imagine that would be the easier part. I'll look into creating some dry runs so I know what to do.

[2020-12-01 17:39] frranck commented on #81
![Menu_christmas](https://user-images.githubusercontent.com/2470571/100776203-8b820680-3404-11eb-9517-edc4bea7beee.png)

[2020-12-01 19:05] SimpleTease commented on #81
That is quite delightful to look at! Carefully drawn. It's the color contrast that's pleasing to me, even when scaled up. Would make a good wallpaper also. I really do enjoy studying it.

Makes the current menu picture a little "drab" from the "darkness". Like it could be brightened up a bit for more energy like this one conveys.

Christmas can start on Sunday. Or it should activate 7 days before

[2020-12-02 04:16] SimpleTease commented on #81
Used GIMP. Converted Adobe to sRGB colorspace. Then GIF export. But got stuck extracting raw indexed data from compressed GIF. Also bit sad that GIF conversion dithered picture down from original high quality artwork.

Found Mr. Boom addresses for menu data.
`m.pal = palette (768 bytes)`
`m.heap[0x3e800] = picture (320x200 = 0xfa00 bytes)`

I think your idea about hotpatching the data after runnin

[2020-12-02 19:21] frranck commented on #81
Hello, I pushed a version with the xmas music:
https://github.com/Javanaise/mrboom-libretro/commit/192fa807d205bbc425d43070948679db20797c0b
I haven't tried on libretro but It's working on SDL2. I will check tomorrow for the raw data...

[2020-12-02 19:23] frranck commented on #81
what about from the 20 of December to NYE?

[2020-12-03 01:38] SimpleTease commented on #81
Good idea! Added date PR that works on libretro. But! Libretro has some odd music problem and plays wrong tracks. Looking into it.

[2020-12-03 05:07] SimpleTease commented on #81
Looking at using libgif from http://enchantia.com/graphapp/package/src/ and printing out raw index data from there. Seems like it almost works but I'm getting an overdump somehow.

[2020-12-03 17:53] SimpleTease commented on #81
I got the picture loading. Had to correct palette to 25% to work. I'm not sure how it should be integrated to Mr. Boom (file names) so I put the raw source here.
https://raw.githubusercontent.com/SimpleTease/mrboom-libretro/theme/xmas_menu.txt

[2020-12-03 20:26] frranck commented on #81
what do you mean 25%?

[2020-12-03 23:42] SimpleTease commented on #81
When I tested the gif data and palette, menu colors came out heavily saturated when displaying xmas image. Final colors did not match the palette at all. Then I saw this line
https://github.com/Javanaise/mrboom-libretro/blob/eec5154d973a7d1b1c856d8d879a937c36c2553d/retro.cpp#L363

which has that 4x palette booster. I regenerated the palette at 25% and ran the menu again. Now it shows something rec

[2020-12-04 18:59] frranck commented on #81
I figure out for the image, but I still have some issues with the texts colors...

[2020-12-05 04:44] SimpleTease commented on #81
That is going to be harder.
[code]
So we'll need to export the gif again but use 252 colors and reserve other 4 for team text. White should be very close to something in palette already.

And we'll have to swap around the index values to line up with the fixed color spots. Unless there's a way to change the font colors, which I haven't found yet.

[2020-12-05 04:45] frranck commented on #81
Yes, I asked the graphician to edit the image.

[2020-12-05 04:49] frranck commented on #81
Are you sure about the scroll text color?

[2020-12-05 05:00] frranck commented on #81
btw to generate the image I patched grafx2 https://gitlab.com/GrafX2/grafX2 BMP export in fileformats.c, and I'm saving the image as BMP:
[code]

[2020-12-05 15:23] frranck opened #86 "libretro-build-psp failing"
https://git.libretro.com/libretro/mrboom-libretro/-/pipelines/5106/failures

[2020-12-05 15:26] frranck commented on #81
Fixed the palette!

[2020-12-05 15:27] frranck commented on #86
seems it's connected with the victories... @SimpleTease

[2020-12-05 15:29] frranck commented on #81
thanks for your help @SimpleTease, could you please check the libretro version? then I guess we can close this...

[2020-12-05 15:30] frranck commented on #86
btw we need to be carefull with casting not to break the high endian platforms...

[2020-12-05 16:12] SimpleTease commented on #81
Libretro xmas menu looks great!

[2020-12-05 17:07] #81 closed

[2020-12-06 00:45] SimpleTease commented on #86
Using some unaligned structs to get by compiler, but big-endian (Gamecube) is not working correctly. Might be better to revert until / if it gets sorted.

[2020-12-06 00:51] SimpleTease commented on #81
If you're playing and the clock rolls over to xmas week, new music theme plays but old backdrop stays same. And same happens with NYE rollover at midnight; regular music with winter theme.

I also have this nutty idea of using hq background images (full 24-bpp) but it's still in thinking stage.

[2020-12-06 05:33] SimpleTease commented on #86
Making good progress. Can likely solve this.

[2020-12-06 05:58] frranck commented on #86
OK I will revert.
I think the best solution would be to patch the real assembly code, then I run asm2c. It shouldn't be hard now since you know what to do...

[2020-12-06 06:04] frranck commented on #86
I mean it's fine to add a C function and do some goto but manipulating pointers data from the assembly in C seems like a bad idea.

[2020-12-06 06:24] frranck commented on #86
I can do the asm2c conversion, simply post the assembly you would change here
https://github.com/bparker06/mrboom30/blob/master/BOMB.INC#L3859

[2020-12-06 06:34] frranck commented on #81
I see, we should get the test sticky then and don't bother for roll overs.

HD background images would be quite some work graphical wise, it's hard to find people to draw these things. I applied that [filter](https://github.com/Javanaise/mrboom-libretro/blob/master/sdl2/xBRZ/xbrz.h) in the SDL version and that does look better, though there are some small bugs...

One real crazy challenge would be

[2020-12-06 06:37] frranck commented on #86
Oups I reverted the team thing instead of the victories?

[2020-12-06 06:59] frranck commented on #86
I reverted the revert for the team and reverted the victories. You should check if I didn't get the changes in MrboomHelper.cpp wrong.

[2020-12-06 07:14] frranck commented on #86
OK got pretty confused, is this code the victories then? https://github.com/bparker06/mrboom30/blob/master/BOMB.INC#L3859

[2020-12-06 14:01] SimpleTease commented on #86
That asm is the routine. I boiled it down to this so far. Still mucky but works on Gamecube and PSP compiles.

[code]

With ASM code, where would I handle the extra temporary values like the victoryPlayer lcv and victoryNumWinners?

[2020-12-06 14:05] frranck commented on #86
we can add extra variables in assembly too.

[2020-12-07 13:45] SimpleTease commented on #86
Green checkmark.
https://git.libretro.com/libretro/mrboom-libretro/-/pipelines/5188

[2020-12-07 14:13] SimpleTease commented on #81
Not going for HD. Libretro has shaders to upscale the original pixels. Want to use full 320x200 RGB, 24-bpp raw backdrops in place of palettes.

Adding a new level would be a monster challenge. I would do that in C mostly if even possible.

[2020-12-07 17:13] frranck commented on #86
btw I will release a version soon, to be safe with the Debian freeze that happens mid January.

[2020-12-07 17:13] #86 closed

[2020-12-07 19:52] frranck commented on #81
It's not that crazy it's just adding data...

[2020-12-08 00:01] SimpleTease commented on #81
Conveyer belts.
- Animation. Are they part of looping background slideshow or sprites?
- Physics. Are monsters affected by them? Powerups? Bombs?
- AI. How to teach them to use or avoid automatic motion?
- Image. You have unused level maps or require someone to draw?
- Data. Are levels loaded onto heap? Where is expansion added to RAM?
- Math calculations to change speed.
- Apocalypse?

[2020-12-08 18:08] frranck commented on #81
would say looping background, but  could be a layer of sprites.

that's a very tricky part

well you can modify the path algorithm, you make the trip longer/shorter when you walk on them

would need to find someone

there is level data in some struct in the assembly code, graphics data that is a PCX decrunched and random hardcoded specific stuff when rendering graphics like an "xmas tree sprite".

[2020-12-10 14:31] SimpleTease commented on #36
Libretro web player should have working music, but I still can't get player to run any cores.

[2020-12-14 02:56] SimpleTease opened #98 "How to get tri-bomb to work reliably?"
I have an extremely hard time getting tri-bomb powerup to work. How fast should one tap the bomb button to drop all of them? I only got it working once and thinking my technique is wrong.

[2020-12-15 18:15] frranck commented on #98
You need to double tap quickly.
Btw are you interested in back porting the asm changes to the original assembly code? I would need to push some missing files, but first you would need to compile https://github.com/frranck/asm2c. stupidly I coded it in swift, but It's running fine on an ubuntu linux...

[2020-12-15 23:12] SimpleTease commented on #98
If I turn on autofire, it works easily. With it off, my timing is always wrong. Guess I need more practice.

I tried compiling but couldn't get it working yet. I would've started by adding the unaligned casts and work forward on mismatches.

[2020-12-16 06:13] frranck commented on #98
OK I never tried with the autofire. We may have an issue there.
I will push more tooling for the conversion soon: Fell free to create an issue in asm2c if you need help with the compilation.

[2020-12-17 00:35] SimpleTease opened #99 "asm2c problems"
I made edits to `Resources/asm.h` and `Sources/Nodes.swift` for cross-platform support (unaligned casts, libretro, msvc). Then tried to compile `p.asm` from https://github.com/bparker06/mrboom30.

Converted file paths from '\\' to '/'. Then got stuck on this.

[code]

[2020-12-17 02:41] SimpleTease commented on #99
Tried removing `BLOW_WHAT2` and got this new one.

[code]

Cosmic alien language to me.

[2020-12-17 06:07] frranck commented on #99
I have a conversion script and a modified version from https://github.com/bparker06/mrboom30 will push it soon.

[2020-12-17 19:03] frranck commented on #99
@SimpleTease  I just pushed, make sure you also pull asm2c.

[2020-12-18 01:05] SimpleTease commented on #99
Works correctly. I'll start playing around with merging the asm and see where I go.

[2020-12-19 02:50] SimpleTease commented on #99
Have to fix binary dumper for msvc. Then we should be done here.

[2020-12-19 03:42] SimpleTease commented on #99
Is `mrboom.heap` still the same values as `mrboom_data.c`? Because then I can copy-paste the msvc fixed version.

[2020-12-19 08:16] frranck commented on #99
This is the value for the heap variable
` db heap[HEAP_SIZE];
`
It's a hack and asm2c uses the heap file as a default for that variable.
I ran the sdl2 version that does some unzipping/decrunching in the first frame, then dumped the heap value and used it for the retrolib version so it doesn't need to have temporary files, since that was an issue for android.

[2020-12-19 08:20] frranck commented on #99
Maybe a debug option to compile the SDL2 version so that it dumps the graphics data would be nice.

[2020-12-19 15:24] SimpleTease commented on #98
Are you using gamepad or keyboard for tri-bomb?

[2020-12-19 15:24] SimpleTease commented on #99
Okay. So the heap value hasn't changed in awhile, since this commit?
https://github.com/Javanaise/mrboom-libretro/commit/e074bafa1fe9480df1ba412752912a2c2c454958

I'll need to patch sdl2 heap dumper for msvc compatible.

[2020-12-19 15:34] frranck commented on #98
pad lately, but I always play the SDL2 version, that don't use auto-fire

[2020-12-19 15:37] frranck commented on #99
I don't think it ever changed since it was introduced, the assembly code is not moving much.

[2020-12-19 15:40] frranck commented on #98
I guess we should check how it's implemented in assembly.

[2020-12-19 17:39] SimpleTease commented on #99
Dumping graphics data means raw indexed values + palette table?

[2020-12-19 17:49] frranck commented on #99
I meaned the heap variable value, the palettes are not on the heap. there is only raw pixels and recorded games files. (for the demo mode)

[2020-12-20 10:15] frranck commented on #99
BTW be careful with movsx, I remember there was a [bug](https://github.com/frranck/asm2c/blob/master/BUGS.md) and it's not the the [most tested instruction](https://github.com/frranck/asm2c/blob/master/asmTests/mov.asm#L101) since I wasn't using it much.

[2020-12-23 05:02] SimpleTease commented on #98
Strangely I'm having no problems anymore with tri-bombs. Seems easy to pull off now. I think it was some Retroarch problem as some recent updates has cured my frustration.

[2020-12-23 05:06] SimpleTease opened #104 "use fixed songs for each stage?"
Something I was wondering about for awhile. Should each stage have a preset track? With the current shuffle method, sometimes you can get music that doesn't fit the action and gives an off-beat funky jive.

[code]

[2020-12-23 08:06] frranck commented on #98
Will try but the autofire seems to be broken in SDL2...

[2020-12-23 08:12] frranck commented on #104
It is independent from the stage right now; this way we could add more songs... but it takes efforts to select them. There are lots of good chiptunes from the amiga cracking scene we could use.

[2020-12-23 08:16] frranck opened #105 "blinking deceleration"
@SimpleTease
What about getting the blinking of players decelerate at the end of diseases/invisibility?

[2020-12-23 08:20] frranck opened #106 "no contamination when jumping over a player?"
Currently you can get contaminated by a disease when jumping over a player...

[2020-12-23 10:39] frranck commented on #98
actually autofire is always on in SDL2 even if you use -n: when you have multiple bombs but keep the B button on, it will keep dropping bomb when moving to a different cell without releasing and repressing B.

[2020-12-23 14:10] frranck commented on #98
I can't test the libretro now; so I made a SDL2 only change to fix the autofire; but it is breaking the tribomb...
https://github.com/Javanaise/mrboom-libretro/blob/master/common.cpp#L1278

[2020-12-23 21:45] frranck commented on #98
I don't think having an optional auto fire option can work with netplay, if two players have a different setting it will break the determinism.

[2020-12-23 22:29] SimpleTease commented on #98
I did some research on netplay. The server controls the important values:
- Team mode
- Monsters
- Level select
- Autofire

If a client sets a value, it gets overwritten by server. Tried many times to break the system but always rejected.

Options like these appear to be per player.
- Aspect ratio
- Music volume
- Sound volume

[2020-12-23 22:30] SimpleTease commented on #104
You have good choice for your songbook. All unique, quality stuff I've never experienced before.

[2020-12-23 22:30] #104 closed

[2020-12-23 22:31] SimpleTease commented on #105
That would be helpful. I'll try diving into the code.

[2020-12-23 22:33] SimpleTease commented on #106
I didn't realize you could jump over someone. Can't be that bad to fix.

[2020-12-23 22:35] SimpleTease commented on #98
I did tests before libretro autofire option was forced always.

[2020-12-23 22:37] frranck commented on #98
Did you read https://docs.libretro.com/development/retroarch/netplay/ ?

[2020-12-23 22:56] frranck commented on #98
Could you please check that before 277e7db0d77a87559f7e0beafa760b37462c9bee in the libretro version:
- autofire off would work like this:
_when you have multiple bombs but keep the B button on, it will keep dropping bomb when moving to a different cell without releasing and repressing B._
- tribomb was possible with autofire off

[2020-12-24 00:50] SimpleTease commented on #98
I did read. Autofire is baked into the savestate. When a desync happens, server re-transmits back to clients and thus indirectly re-applys the 4 game settings mentioned above. Because the game settings are stored in there.

I have to use low network latency settings and other switches because my jitter is terrible and otherwise unplayable. 5-10 seconds can go by before I hit a state reset. But I d

[2020-12-24 07:25] frranck commented on #98
The save state should be saving all variables from the mem struct from the "master" variable to the "replayer_saver" one according to  https://github.com/Javanaise/mrboom-libretro/blob/master/common.hpp#L42
So even if autofire is not included; but it could create different states for the same input when computers have a different configuration; so that will generate some resynch.

I guess there's

[2020-12-24 17:03] SimpleTease commented on #98
To be completely netplay safe, I agree.

If we want to reimplement it; that's gonna be quite tricky; it should be done totally inside the assembly code; forced to false for retrolib except during the demos...

For the back burner I guess.

[2020-12-25 11:18] frranck commented on #98
No monsters and the team mode selection are problematic too. I asked @twinaphex on Discord if there was an option to get core settings shared.

[2020-12-25 11:21] frranck commented on #106
👍  Checking if it's demo proof.

[2020-12-25 14:57] #106 closed

[2020-12-25 19:14] frranck commented on #98
@jdgleaver Could we get your input on that? We would need certain core options to be selected by the server.

[2020-12-26 06:41] frranck commented on #105
The disease sprite with a rabbit is broken... you can test it in SDL2 with mrboom -1, select two human players then press F1.

[2020-12-26 06:56] frranck commented on #105
That's because eax is beeing modified... ebx seems to be used too; maybe use ecx?
It looks nice, but we could also have the blinking precisely fine tuned by generating an array of blinking states.

[2020-12-26 18:48] frranck commented on #105
Can't test now but I will try something like that:

[code]

with

`blinking db 1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1

[2020-12-27 15:58] frranck opened #113 "rumble on remote control"
Based on SameBoy, it should be semi-minor.
https://github.com/LIJI32/SameBoy/blob/6b30de5fb1c9c7c177ea544db9fe82e7d40a2171/Core/rumble.c
https://github.com/LIJI32/SameBoy/blob/195329463b0927c6e9bf13ea2aceb849b5301bb1/Core/rumble.h
https://github.com/LIJI32/SameBoy/blob/bdd27ce50d4b27898e11e8a34c9371e210f10846/libretro/libretro.c

The trick is how to modulate the rumble amplitude.
`rumble.set_rumbl

[2020-12-27 21:40] #105 closed

[2020-12-30 07:23] frranck opened #115 ""submarine" new level"
Hello @reenodadada
What about a submarine theme kind of level, i.e. inside a submarine from _Twenty Thousand Leagues Under the Sea_ or
 on the ship from _The Life Aquatic with Steve Zissou_?
Here is some background graphic from an existing level; that can be used to get the coordinates from the field; and to pick the palette:
![SOCCER](https://user-images.githubusercontent.com/2470571/103335407-23

[2020-12-30 14:19] SimpleTease commented on #115
I realize it might be simpler after lots of thought over a week.

[code]

Where do we put level data that says tile is a conveyer belt?

[2020-12-30 14:20] SimpleTease commented on #113
For amplitude, we could read the waveform for bomb explosion. Convert down to 60Hz and apply rumble. I don't have a rumble pad so can't realistically test, unless there's libretro way to shake screen or something.

[2020-12-30 18:16] SimpleTease commented on #115
More thought into it. 2 cell tables for belt x-speed, y-speed. Then we can control each belt separately if wanted.

Add belt deltas to position. Then use existing player collision code that auto-corrects movement. Share with monsters and power-ups also.

Will see where this goes..

[2020-12-30 19:02] frranck commented on #115
We can also avoid power ups from appearing on belts... Should their speed be half the normal walking speed?

[2020-12-30 19:29] SimpleTease commented on #115
I think we'll have to play with speed but 1/2 seems good start. So if monsters die on belts, they don't spawn powerups? If my idea is right, belt code might be generic enough to handle anything. But that's my fantasy atm.

[2020-12-31 05:18] SimpleTease commented on #115
So far I'm having bad luck with crashes. I was trying to use a modified `poussage` function and move the bombs myself changing `offsetX` based on `changement` timer. Checking the tile if it's treadmill (left,right,up,down).

Players and monsters would use `xy_to_offset` then go through basically the same routine with x,y directly. Powerups I think could do same with x,y also.

I think treadmills a

[2020-12-31 07:11] frranck commented on #115
no worries; the bomb code is probably the most tricky; there is some list kindoff structure that is very likely to cause crashes.

[2021-01-01 03:59] SimpleTease commented on #115
So I played with it for a long while. Bombs work decently-ish-ish enough with this draft design.
[code]
===
[code]

Easiest to test with `Board` and `2P Humans`. Drop a bomb and watch it slowly move left. Currently once it's stuck to the "invisible belt", you can't unstick it by kicking again. Creating bomb collisions becomes very easy and suprisingly dangerous.

What'd be a goofy idea is an outer

[2021-01-01 09:45] frranck commented on #115
Happy new year!

Good idea; or it could be some elevator going up and down or an amusement park ride? There must be some movie or game references to make.

bricks are in truc:
https://github.com/Javanaise/mrboom-libretro/blob/5ee93c663d8adec1e93f92d3b0a5b4920b01df2e/ai/Bot.cpp#L246

bonuses are in truc2:
https://github.com/Javanaise/mrboom-libretro/blob/5ee93c663d8adec1e93f92d3b0a5b4920b01df2e/ai/

[2021-01-02 18:16] SimpleTease commented on #115
I think a development branch would be safe. Wouldn't want to be a chaos machine for the main branch with unexpected experimental foo being thrown around.

I thought more about it. I'm aiming for a truc3 since belts can't be blown up, and it could provide optional layering: brick, powerup, belt - ground.

Also I think we'll need a bomb collision fix; two bombs moving the same direction can blow eac

[2021-01-03 16:42] frranck commented on #115
Ok I created a develop branch and truc3 is a good name. :blush:

[2021-05-01 08:36] #99 closed

[2021-10-07 21:41] pokeshark opened #116 "UP direction does not work"
UP direction does not work with either Xinput controller or Keyboard on Retroarch 1.9.8

it appears to be set in Controls.

![image](https://user-images.githubusercontent.com/10551675/136466002-f6a59b74-54e4-4435-a4c0-473e990f8cf5.png)

[2022-04-09 09:22] gzuk78 opened #117 "How to edit graphics and level data?"
Is there any way to edit graphics and level data for the game?

The tools/data/GFX folder contains PCX files, but I have not found any way to open them with graphics editors. In theory, Gimp should be able to open standard "Picture Exchange" files, but it didn't work for me.

* Gimp error message is: "CRAYON.PCX is not a PCX file"
* LibreSprite error message is: "This PCX doesn't have 8 bit color

[2022-04-09 10:21] frranck commented on #117
hi @gzuk78  maybe Grafx2 does it, but It's gonna be extremely tricky, you would need to modify the assembly data files also... it's probably not the easiest project to create skins for...

[2022-04-09 12:38] gzuk78 commented on #117
Thanks for the suggestion, but no luck with Grafx2 either. There must be some non-standard feature about those PCX files. How did you guys actually manage to edit them? Or did you just inherit them as-is from an old DOS version or something?

If this project is un-skinnable, do you maybe happen to know a better-suited Bomberman clone (with MrBoom features like monsters, 4-directions characters, an

[2022-04-09 12:50] frranck commented on #117
I remember now, the headers have been patched...
You should check other projects with the bomberman tag https://github.com/topics/bomberman like https://github.com/bjaraujo/Bombermaaan

[2022-04-09 12:50] #117 closed

[2022-04-09 12:53] frranck commented on #116
I guess that's something to report to retroarch?

[2022-04-09 12:53] #116 closed

[2022-07-24 18:46] mtoensing opened #118 "Mr. Boom on Raspberry Pi 4 on Lakka - Only 5 players supported?"
I installed Lakka on a Pi4 and I got 6 controllers showing up. But in Mr Boom the sixth controller would not accept "fire" button. But the controller is okay because if I switch it on at the start then the last sixth controller won't work. Is this a bug.

[2022-07-24 18:57] frranck commented on #118
Hello Marc, so that's the libretro version right? Could you please check the sdl2 version?

[2022-07-24 19:10] mtoensing commented on #118
How do I do this? It is the official repository here https://github.com/libretro/Lakka-LibreELEC

[2022-07-24 19:14] frranck commented on #118
Install one of those packages https://repology.org/project/mrboom/versions that doesn't have libretro in its name or compile it https://github.com/Javanaise/mrboom-libretro#compiling-the-sdl2-version
I already played with more that 5 pads with the SDL2 version so I suppose it's a retroarch bug.

[2022-07-24 19:15] frranck commented on #118
I would try on your OSX or windows machine if you can plug the pads there.

[2022-07-24 20:53] mtoensing commented on #118
Ok, I thought that Lakka is the official solution for RetroArch on a Pi and MrBoom is made for Libreto. I don't want to use my Mac or compile it myself to run it on the pi. Shouldn't the people who maintain Lakka solve this in their repository? Does it help if I open an issue there?

[2022-07-24 20:56] frranck commented on #118
Yes please open an issue there, that link this one.

[2022-07-26 14:53] StormedBubbles commented on #118
Do you have the max users set to 8 in `Main Menu -> Settings -> Input`?

[2022-08-08 12:23] frranck commented on #118
any update @mtoensing ?

[2022-08-08 17:20] frranck commented on #118
Yeah but that can only to be fixed in RetroArch so we need an issue there  https://github.com/libretro/RetroArch/issues I suppose

[2022-08-08 17:56] StormedBubbles commented on #118
The default number for the max may be dependent on where you obtained RetroArch from. In RetroPie, the default is 5. In Windows, I have two retroarch.cfg files. One of them has 5, but the other, labeled as "default," has 16 as the max. Unless you have some core- or content-specific overrides defining a different number, you can just change the number in `input_max_users = "5"` in the global retroa

[2022-10-24 17:17] #118 closed